<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jayHistogramDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7BA6B1E91BF1C2C300170BAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BA6B2021BF1C2C300170BAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BA6B20D1BF1C2C300170BAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
